.ninja-forms-app h3.hndle {
    padding: 10px 12px;
    margin: 0;
}

.ninja-forms-app .postbox .item-controls {
    display: none;
}

tr[id='row_ninja_forms[currency_code]'], tr[id='row_ninja_forms[currency_symbol]']{
    display: none;
}